<app-headers></app-headers>
<app-toolbar></app-toolbar>
<app-navbar></app-navbar>

<!-- //breadcrumbs -->
<!-- contact -->
	
   
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Contact</li>
			</ol>
		</div>
	</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i> Address:</h3>               
				<p style="margin-top:6%;line-height:35%"><b>Hyderabad</b></p>
                <br />
                <br />
			E-Cognosys House, DAULAT, 8-2-609/2/M/1, Road No - 11,
                         Banjara Hills, Hyderabad, Andhra Pradesh, INDIA – 500034 

                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i> E-Mail Address:</h3>
                <p style="margin-top:6%;line-height:35%"> india@ecognosys.com</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i> Company Name:</h3>
                <p style="margin-top:6%;line-height:35%"> E-cognosys Information Systems Pvt. Ltd</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%;color:#339966"></i> Telephone:</h3>
                <p style="margin-top:6%;line-height:35%"><a href="">+91-22-40159212 , +91-22-26873331</a></p>
            </div>
        </div>
        <div class="col-sm-6">
            <iframe src="http://www.citymaps.ie/create-google-map/map.php?width=100%&amp;height=600&amp;hl=en&amp;q=Banjarahills%2Chyderadab+(grocery)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed" width="565" height="430" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
   


       

			<div class="clearfix"> </div>
            
 </div>
</div>	
	
<!-- contact -->
 
<footer></footer>