<div class="navigation-agileits">

	<nav class="navbar navbar-default">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header nav_2">
			<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
		</div>
		<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
			<ul class="nav navbar-nav">
				<!--<li class="active"><a href="index.html" class="act">Home</a></li>-->
				<!-- Mega Menu -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Groceries & Staples<b class="caret"></b></a>
					<ul class="dropdown-menu multi-column columns-3">
						<div class="row">
							<div class="multi-gd-img">
								<ul class="multi-column-dropdown">
									<h6>Groceries & Staples</h6>
									<li class="dropdown dropdown-submenu"><a [routerLink]="['/branded-food']" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Branded Food</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Noodles</a></li>
													<li><a href='#'>Cereal</a></li>
													<li><a href='#'>Coffee / Filters</a></li>
													<li><a href='#'>Lemon / Lime juice</a></li>
													<li><a href='#'>Oil</a></li>
													<li><a href='#'>Packaged meals</a></li>
													<li><a href='#'>Pickles</a></li>
													<li><a href='#'>Rice</a></li>
													<li><a href='#'>Dal</a></li>
													<li><a href='#'>Tea</a></li>
													<li><a href='#'>Vegetable oil</a></li>
													<li><a href='#'>Vinegar</a></li>

												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a [routerLink]="['/vegetables']" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Canned Foods</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Baked beans</a></li>
													<li><a href='#'>Fruit</a></li>
													<li><a href='#'>Olives</a></li>
													<li><a href='#'>Tinned meats</a></li>
													<li><a href='#'>Tuna / Chicken</a></li>
													<li><a href='#'>Soup / Chili</a></li>
													<li><a href='#'>Tomatoes</a></li>
													<li><a href='#'>Veggies</a></li>
												</ul>
											</li>

										</ul>
									</li>

									<li class="dropdown dropdown-submenu"><a [routerLink]="['/dryfruits']" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Baked Foods</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Sliced bread</a></li>
													<li><a href='#'>Buns / Rolls</a></li>
													<li><a href='#'>Cake / Cookies</a></li>
													<li><a href='#'>Tinned meats</a></li>
													<li><a href='#'>Donuts / Pastries</a></li>
													<li><a href='#'>Fresh bread</a></li>
												</ul>
											</li>

										</ul>
									</li>

									<li class="dropdown dropdown-submenu"><a [routerLink]="['/groceries']" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Baking</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Baking powder / Soda</a></li>
													<li><a href='#'>Bread crumbs</a></li>
													<li><a href='#'>Cake / Brownie mix</a></li>
													<li><a href='#'>Flour</a></li>
													<li><a href='#'>Sugar</a></li>
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href='#' class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Snacks</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Candy / Gum</a></li>
													<li><a href='#'>Cookies</a></li>
													<li><a href='#'>Crackers</a></li>
													<li><a href='#'>Dried fruit</a></li>
													<li><a href='#'>Haldiram</a></li>
													<li><a href='#'>Nuts / Seeds</a></li>
													<li><a href='#'>Oatmeal</a></li>
													<li><a href='#'>Potato / Corn chips</a></li>
													<li><a href='#'>Lays</a></li>
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href='#' class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Themed meals</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Ready to Eat</a></li>
													<li><a href='#'>ID packaged food</a></li>
													<li><a href='#'>Burger night</a></li>
													<li><a href='#'>Chili night</a></li>
													<li><a href='#'>Pizza night</a></li>
													<li><a href='#'>Spaghetti night</a></li>
													<li><a href='#'>Taco night</a></li>
													<li><a href='#'>Take-out deli food</a></li>
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href='#' class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Baby stuff</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Baby food</a></li>
													<li><a href='#'>Diapers</a></li>
													<li><a href='#'>Lotion</a></li>
													<li><a href='#'>Baby wash</a></li>
													<li><a href='#'>Wipes</a></li>
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href='#' class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Loose Items</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Rice</a></li>
													<li><a href='#'>Dal</a></li>
													<li><a href='#'>Wheat</a></li>
													<li><a href='#'>Sugar</a></li>
													<li><a href='#'>Tea</a></li>
													<li><a href='#'>Peas</a></li>
												</ul>
											</li>

										</ul>
									</li>
								</ul>
							</div>

						</div>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Household<b class="caret"></b></a>
					<ul class="dropdown-menu multi-column columns-3">
						<div class="row">
							<div class="multi-gd-img">
								<ul class="multi-column-dropdown">
									<h6>All Household</h6>
									<li class="dropdown dropdown-submenu"><a href="household.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Personal care</a>
										<ul class="dropdown-menu scrollable-menu" role="menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Antiperspirant / Deodorant</a></li>
													<li><a href='#'>Bath soap / Hand soap</a></li>
													<li><a href='#'>Condoms / Other b.c.</a></li>
													<li><a href='#'>Cosmetics</a></li>
													<li><a href='#'>Cotton swabs / Balls</a></li>
													<li><a href='#'>Facial cleanser</a></li>
													<li><a href='#'>Facial tissue</a></li>
													<li><a href='#'>Feminine products</a></li>
													<li><a href='#'>Floss</a></li>
													<li><a href='#'>Hair gel / Spray</a></li>
													<li><a href='#'>Lip balm</a></li>
													<li><a href='#'>Moisturizing lotion</a></li>
													<li><a href='#'>Mouthwash</a></li>
													<li><a href='#'>Razors / Shaving cream</a></li>
													<li><a href='#'>Shampoo / Conditioner</a></li>
													<li><a href='#'>Sunblock</a></li>
													<li><a href='#'>Toilet paper</a></li>
													<li><a href='#'>Toothpaste</a></li>
													<li><a href='#'>Vitamins / Supplements</a></li>
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="household.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Cleaning products</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Air freshener</a></li>
													<li><a href='#'>Bathroom cleaner</a></li>
													<li><a href='#'>Bleach / Detergent</a></li>
													<li><a href='#'>Dish / Dishwasher soap</a></li>
													<li><a href='#'>Garbage bags</a></li>
													<li><a href='#'>Glass cleaner</a></li>
													<li><a href='#'>Mop head / Vacuum bags</a></li>
													<li><a href='#'>Sponges / Scrubbers</a></li>
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="household.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Other stuff</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Batteries</a></li>
													<li><a href='#'>Flowers / Greeting card</a></li>
													<li><a href='#'>Insect repellent</a></li>
													<li><a href='#'>Light bulbs</a></li>
													<li><a href='#'>Newspaper / Magazine</a></li>
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="household.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Medicine</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Allergy</a></li>
													<li><a href='#'>Antibiotic</a></li>
													<li><a href='#'>Antidiarrheal</a></li>
													<li><a href='#'>Aspirin</a></li>
													<li><a href='#'>Antacid</a></li>
													<li><a href='#'>Band-aids / Medical</a></li>
													<li><a href='#'>Pain reliever</a></li>
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="household.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown"> Kitchen </a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Aluminum foil</a></li>
													<li><a href='#'>Napkins</a></li>
													<li><a href='#'>Non-stick spray</a></li>
													<li><a href='#'>Paper towels</a></li>
													<li><a href='#'>Plastic wrap</a></li>
													<li><a href='#'>Sandwich / Freezer bags</a></li>
													<li><a href='#'>Wax paper</a></li>
													<li><a href='#'>Insect repellent</a></li>
												</ul>
											</li>

										</ul>
									</li>
								</ul>
							</div>


						</div>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Non-Vegetarian<b class="caret"></b></a>
					<ul class="dropdown-menu multi-column columns-3">
						<div class="row">
							<div class="multi-gd-img">
								<ul class="multi-column-dropdown">
									<h6>Non-Vegetarian</h6>
									<li class="dropdown dropdown-submenu"><a href="personalcare.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Meat</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Sausage</a></li>
													<li><a href='#'>Mutton</a></li>
													<li><a href='#'>Chicken</a></li>
													<li><a href='#'>Turkey</a></li>
													<li><a href='#'>Ham / Pork</a></li>
													<li><a href='#'>Hot dogs</a></li>
													<li><a href='#'>Lunchmeat</a></li>
													<li><a href='#'>Turkey</a></li>
													<li><a href='#'>Godrej</a></li>
													<li><a href='#'>Venky's</a></li>
													<li><a href='#'>Suguna</a></li>
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="personalcare.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Seafood</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Catfish</a></li>
													<li><a href='#'>Crab</a></li>
													<li><a href='#'>Lobster</a></li>
													<li><a href='#'>Mussels</a></li>
													<li><a href='#'>Oysters</a></li>
													<li><a href='#'>Salmon</a></li>
													<li><a href='#'>Tilapia</a></li>
													<li><a href='#'>Tuna</a></li>
													<li><a href='#'>GADRE</a></li>
													<li><a href='#'>PESCAFRESH</a></li>
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="personalcare.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Canned</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Prawn Pickle</a></li>
													<li><a href='#'>Tuna</a></li>
													<li><a href='#'>Meats</a></li>
													<li><a href='#'>Chicken</a></li>
												</ul>
											</li>

										</ul>
									</li>
								</ul>
							</div>

						</div>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Refrigerated Items<b class="caret"></b></a>
					<ul class="dropdown-menu multi-column columns-3">
						<div class="row">
							<div class="multi-gd-img">
								<ul class="multi-column-dropdown">
									<h6>Refrigerated Items</h6>
									<li class="dropdown dropdown-submenu"><a href="packagedfoods.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Dairy</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Butter / Margarine</a></li>
													<li><a href='#'>Cottage cheese</a></li>
													<li><a href='#'>Milk</a></li>
													<li><a href='#'>Yogurt</a></li>
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="packagedfoods.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Cheese</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Sandwich slices</a></li>
													<li><a href='#'>Cottage cheese</a></li>
													<li><a href='#'>Cream cheese</a></li>
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="packagedfoods.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Beverages</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Club soda / Tonic</a></li>
													<li><a href='#'>Juice</a></li>
													<li><a href='#'>Mixers</a></li>
													<li><a href='#'>Soft drinks</a></li>
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="packagedfoods.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Packaged Food</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>ID Rotis</a></li>
													<li><a href='#'>ID Paratas</a></li>
													<li><a href='#'>Green Peas</a></li>
													<li><a href='#'>Nuggets</a></li>
													<li><a href='#'>Finger Chips</a></li>
													<li><a href='#'>Batters / Idil / Dosa</a></li>
													<li><a href='#'>Kraft</a></li>
													<li><a href='#'>Mothers Dairy</a></li>
													<li><a href='#'>Nestle</a></li>
													<li><a href='#'>Amul</a></li>
													<li><a href='#'>Danone</a></li>
												</ul>
											</li>

										</ul>
									</li>
								</ul>
							</div>


						</div>
					</ul>
				</li>
				
                <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sauces & Spreads<b class="caret"></b></a>
					<ul class="dropdown-menu multi-column columns-3">
						<div class="row">
							<div class="multi-gd-img">
								<ul class="multi-column-dropdown">
									<h6>Sauces & Spreads</h6>
									<li class="dropdown dropdown-submenu"><a href="packagedfoods.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Sauce</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>BBQ sauce</a></li>
													<li><a href='#'>Chilly sauce</a></li>
													<li><a href='#'>Tomato Sauce</a></li>
													<li><a href='#'>Mustard</a></li>
													<li><a href='#'>Pasta sauce</a></li>
													<li><a href='#'>Salad dressing</a></li>
													<li><a href='#'>Salsa</a></li>
													<li><a href='#'>Soy sauce</a></li>
													<li><a href='#'>Steak sauce</a></li>
													<li><a href='#'>Worcestershire sauce</a></li>
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="packagedfoods.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Spreads</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Jam / Jelly / Preserves</a></li>
													<li><a href='#'>Mayonnaise</a></li>
													<li><a href='#'>Honey</a></li>
													<li><a href='#'>Milkmaid</a></li>
													<li><a href='#'>Syrup</a></li>																									
												</ul>
											</li>

										</ul>
									</li>
									
									
								</ul>
							</div>


						</div>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Spices & herbs<b class="caret"></b></a>
					<ul class="dropdown-menu multi-column columns-3">
						<div class="row">
							<div class="multi-gd-img">
								<ul class="multi-column-dropdown">
									<h6>Spices & herbs</h6>
									<li class="dropdown dropdown-submenu"><a href="packagedfoods.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Daily Use</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Basil</a></li>
													<li><a href='#'>Black pepper</a></li>
													<li><a href='#'>Cilantro</a></li>
													<li><a href='#'>Cinnamon</a></li>
													<li><a href='#'>Garlic</a></li>
													<li><a href='#'>Ginger</a></li>
													<li><a href='#'>Oregano</a></li>
													<li><a href='#'>Paprika</a></li>
													<li><a href='#'>Parsley</a></li>
													<li><a href='#'>Red pepper</a></li>
													<li><a href='#'>Salt</a></li>
													<li><a href='#'>Vanilla extract</a></li>
													<li><a href='#'>Turmeric</a></li>
													<li><a href='#'>Chilly Powder</a></li>
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="packagedfoods.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">MDH</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Masala</a></li>
																																					
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="packagedfoods.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Mothers Recipe</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Masala</a></li>																																						
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="packagedfoods.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Everest</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Masala</a></li>
																																						
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="packagedfoods.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Catch</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Masala</a></li>
																																						
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="packagedfoods.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Cookme</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Masala</a></li>
																																						
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="packagedfoods.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Priya</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Masala</a></li>
																																						
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="packagedfoods.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Ramdev</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Masala</a></li>
																																					
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="packagedfoods.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Nilons</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Masala</a></li>
																																						
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a href="packagedfoods.html" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">MDH</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a href='#'>Jam / Jelly / Preserves</a></li>
																																						
												</ul>
											</li>

										</ul>
									</li>

									
									
								</ul>
							</div>


						</div>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Vegetables & Fruits<b class="caret"></b></a>
					<ul class="dropdown-menu multi-column columns-3">
						<div class="row">
							<div class="multi-gd-img">
								<ul class="multi-column-dropdown">
									<h6>Vegetables & Fruits</h6>
									<li class="dropdown dropdown-submenu"><a [routerLink]="['/exotic-vegetables']" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Exotic Vegetables</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a [routerLink]="['/exotic-vegetables/mushrooms']">Mushrooms</a></li>
													<li><a [routerLink]="['/exotic-vegetables/broccoli']">Broccoli</a></li>
													<li><a href='#'>Zucchini</a></li>
													<li><a href='#'>Baby Tomato</a></li>
													<li><a href='#'>Baby Potatoes</a></li>
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a [routerLink]="['/fresh-vegetables']" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Fresh Vegetables</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a [routerLink]="['/fresh-vegetables/brinjal']">Bringal</a></li>
													<li><a [routerLink]="['/fresh-vegetables/cabbage']">Cabbage</a></li>
													<li><a href='#'>Carrots</a></li>
													<li><a href='#'>Cauliflower</a></li>
													<li><a href='#'>Cucumbers</a></li>
													<li><a href='#'>Drumstick</a></li>
													<li><a href='#'>Garlic</a></li>
													<li><a href='#'>Ginger</a></li>
													<li><a href='#'>Lady Finger</a></li>
													<li><a href='#'>Onions</a></li>
													<li><a href='#'>Peppers</a></li>
													<li><a href='#'>Potatoes</a></li>
													<li><a href='#'>Spinach</a></li>
													<li><a href='#'>Tomatoes</a></li>
													<li><a href='#'>Dry Imli</a></li>
													<li><a href='#'>Lemon</a></li>													
												</ul>
											</li>

										</ul>
									</li>
									<li class="dropdown dropdown-submenu"><a [routerLink]="['/fruits']" class=" dropdown-submenu" class="dropdown-toggle" data-toggle="dropdown">Fruits</a>
										<ul class="dropdown-menu">
											<li class="dropdown1">
												<ul>
													<li><a [routerLink]="['/fruits/apple']">Apple</a></li>
													<li><a [routerLink]="['/fruits/banana']">Bananas</a></li>
													<li><a href='#'>Chickoo</a></li>
													<li><a href='#'>Coconut</a></li>
													<li><a href='#'>Dates</a></li>
													<li><a href='#'>Gooseberry</a></li>
													<li><a href='#'>Grapes</a></li>
													<li><a href='#'>Guava</a></li>
													<li><a href='#'>Papaya</a></li>
													<li><a href='#'>Oranges</a></li>
													<li><a href='#'>Pashion Fruit</a></li>
													<li><a href='#'>Pineapple</a></li>
													<li><a href='#'>Sitafal</a></li>
													<li><a href='#'>Watermelon</a></li>
													<li><a href='#'>Pears</a></li>
													<li><a href='#'>Mango</a></li>
													<li><a href='#'>Kiwis</a></li>
													<li><a href='#'>Grapefruit</a></li>
													<li><a href='#'>Peaches</a></li>
													<li><a href='#'>Plums</a></li>
													<li><a href='#'>Apricot</a></li>
												</ul>
											</li>

										</ul>
									</li>
									
								</ul>
							</div>


						</div>
					</ul>
				</li>
								
				<li><a [routerLink]="['/offers']">Offers</a></li>
				<!--<li><a  [routerLink]="['/contact']" >Contact Us</a></li>
         	                        <li><a [routerLink]="['/profile']"  *ngIf="isLoggedIn()">Profile</a></li>-->

			</ul>
		</div>
	</nav>

</div>

<!-- //navigation -->