<div class="skdslider"><ul id="demo1" class="slides">
			<li >
				<img src="/assets/images/car1.jpeg" alt="">
				<!--Slider Description example-->
				<div class="slide-desc">
					<h3>Buy Rice Products Are Now On Line With Us</h3>
				</div>
			</li>
			<li >
				<img src="/assets/images/grains.jpg" alt="">
				  <div class="slide-desc">
					<h3>Whole Spices Products Are Now On Line With Us</h3>
				</div>
			</li>
			
			<li >
				<img src="/assets/images/vegzz.jpg" alt="">
				<div class="slide-desc">
					<h3>Whole Spices Products Are Now On Line With Us</h3>
				</div>
			</li>
		</ul>
    <ul class="slide-navs" style="margin-left: -24px;">
      <li class="slide-nav-0 current-slide">
        <a></a>
        </li>
        <li class="slide-nav-1">
          <a></a></li>
          <li class="slide-nav-2">
            <a></a>
            </li>
            </ul>
            <a class="prev"></a>
            <a class="next"></a>
            <a class="play-control pause" style="display: block;">
              </a>
              </div>